html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  // font-size: 16px; // Using browser default fs
}


* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-weight: normal;
}

label,
button {
  cursor: pointer;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

img {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
